@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no" />

    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />

    <link href="/Scripts/jquery.mobile/jquery.mobile-1.2.0.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/Scripts/jquery.mobile/jquery.mobile.structure-1.2.0.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/Scripts/jquery.mobile/jquery.mobile.theme-1.2.0.min.css" rel="stylesheet"
        type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.18.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tools.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/dateformat.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.enable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.datagrid.js")" type="text/javascript"></script>


    <script src="/Scripts/jquery.mobile/jquery.mobile-1.2.0.min.js" type="text/javascript"></script>

    <title>东郊采购订单</title>

    <style type="text/css">
    tr.done
    {
        background-color:#112233;
    }
    </style>

</head>
<body style="background-color:#5C87B2;">
<input type="hidden" id="ids" value="@ViewBag.Orders" />

<div  data-role="page" id="notdone">
    <div data-role="header">
        <h1>需要采购物品</h1>
    </div>
    <div data-role="content">
        <li class="template" style="display:none">
            <h3 class="Name"></h3>
            <p><input type="text" class="Price" /></p>
            <p><input type="text" class="Amount" /></p>
            <p class="Total"></p>
            <p><input type="button" class="mark" value="标记已采购"/></p>
        </li>
        <ol data-role="listview" id="notdoneOrderList">
    
        </ol>
    </div>
    

    <div data-role="footer">
        <h4><a href="#done" class="changePage">显示已采购物品</a></h4>
    </div>

</div>

<div  data-role="page" id="done">
    <div data-role="header">
        <h1>已经采购物品</h1>
    </div>
    <div data-role="content">
        <li class="template" style="display:none">
            <h3 class="Name"></h3>
            <p><input type="text" class="Price" /></p>
            <p><input type="text" class="Amount" /></p>
            <p class="Total"></p>
            <p><input type="button" class="mark" value="标记未采购"/></p>
        </li>
        <ol data-role="listview" id="doneOrderList">
    
        </ol>
    </div>

    <div data-role="footer">
        <h4><a href="#notdone" class="changePage">显示未采购物品</a></h4>
        <h4><input type="button" id="saveOrder" value="保存订单" /></h4>
    </div>
    
</div>

@*@Html.Partial("CreateOrder")*@

<script src="@Url.Content("~/scripts/eastmarkOrderMobile.js")" type="text/javascript"></script>

</body>
</html>