@model IEnumerable<MvcDonata.Models.CustomerModel>

<table style="width:900px">
    <tr>
        <th>
            姓名
        </th>
        <th>
            电话
        </th>
        <th>
            总消费金额
        </th>
        <th>
            消费次数
        </th>
        <th>
            创建时间
        </th>
        <th>
            最后下单时间
        </th>
        <th>活跃度</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td rel="@string.Format("customers/ListAddresses?customerID={0}",item.ID)">
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastOrderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.ActivedDegree)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.ID})
        </td>
    </tr>
    <tr>
        <td>地址</td>
        <td colspan="7">
            <ul>
                @foreach (var a in item.Addresses)
                {
                    <li>@string.Format("{0} {1}({2})",a.City,a.Address,a.Count)</li>
                }
            </ul>
            
        </td>
    </tr>
}
</table>


